# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data*/
results/*
# Results / Models
results/tables/
results/qc_plots/
results/earh_oae_trg/
results/preprocessed/
results/matplotlib_cache/
results/models/
results/tmp/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment variables
.env
# ignore .png
*.png